<!-- <Navbar /> -->
<div class="flex flex-col justify-center w-screen mt-16">
  <div class="bg-white h-48 flex items-center">
    <form class="flex flex-row justify-center w-full mx-4 lg:mx-auto lg:w-1/2"
          [formGroup]="submissionForm"
          (ngSubmit)="onSubmit()">
      <input class="w-full mt-2 py-2 px-4 bg-white text-gray-700 rounded
        appearance-none placeholder-gray-500 focus:outline-none focus:bg-white
        mr-4 border-2 border-black hover:shadow-sm"
             type="text"
             formControlName="submission"
             (blur)="onBlur()"
             placeholder="Download Link" />
      <button type="submit" class="btn" [disabled]="invalidInput">Download</button>
    </form>
  </div>
  <main class="flex-col items-center w-full mx-4 lg:mx-auto lg:w-1/2">
    <div class="mx-auto">
      <ng-container *ngIf="downloads.length > 0;else emptyPlaceholder">
        <!-- <DownloadCard {download} /> -->
      </ng-container>
      <ng-template #emptyPlaceholder>
        <h4 class="text-center p-12 text-xl font-light">
          No downloads in progress...
        </h4>
      </ng-template>
    </div>
  </main>
</div>
